__pycache__
dist
build
main.spec
install.spec
csgo_richpresence.spec
csgo_richpresence.exe
csgo_richpresence_installer.spec
csgo_richpresence_installer.exe
discordapp
zip.exe
Thumbs.db
desktop.ini
release.zip